<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Concurso Twitter Aire-USB</title>

	</head>
	<body>
		<ul>
      <table style="width:100%" class="table table-striped table-hover ">
        <thead>
          <th style="text-align:center">Usuario</th>
          <th style="text-align:center">Microcuento</th>
        </thead>
        <tbody>
			    {% for tweet in tweets %}
            <tr>
              <td>{{tweet.userRef}}</td>
              <td>{{tweet.text}}</td>
            </tr>
			    {% endfor %}
        </tbody>
      </table>	
		</ul>
	</body>
</html>
{% endblock %}
