<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}

<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Concurso Twitter Aire-USB</title>
		<script type="text/javascript">
			function updateRating(opcion,username,idTweet) {
				$.ajax({
					method: "POST",
					url: "{% url 'updateRating' %}",
					data: { idTweet : idTweet , opcion : opcion , username : username }
					})
					.done(function( msg ) {
						if(msg = 'Calificado!'){
							$("#juez"+idTweet).html(opcion);
						}
						alert( msg );
				});
			}
		</script>
	</head>
	<body>
    {% if tweets %}
		  <ul>
			  <table style="width:100%" class="table table-striped table-hover ">
				  <thead>
					  <th style="text-align:center">Usuario</th>
					  <th style="text-align:center">Microrelato</th>
					  <th style="text-align:center">Rating</th>
            {% if user.username != 'aireUSB' %}
              <th style="text-align:center">Cambiar Rating</th>
            {% endif %}
				  </thead>
				  <tbody>
					  {% for tweet in tweets %}
					  <tr>
						  <td class="borde">{{tweet.userRef}}</td>

						  <td class="borde">{{tweet.text}}</td>
						  <td style="text-align:center">
							  {% if user.username == 'juez1' %} <span id="juez{{tweet.idRef}}" >{{tweet.juez1}}</span> {% endif %}

							  {% if user.username == 'juez2' %} <span id="juez{{tweet.idRef}}" >{{tweet.juez2}}</span> {% endif %}

							  {% if user.username == 'juez3' %} <span id="juez{{tweet.idRef}}" >{{tweet.juez3}}</span> {% endif %}

							  {% if user.username == 'aireUSB' %} <span id="juez{{tweet.idRef}}" >{{tweet.promedioRating}}</span> {% endif %}
              </td>
              <td style="text-align:center">
							  {% if user.username != 'aireUSB' %}
								  <select onchange="updateRating(this.value,'{{user.username}}','{{tweet.idRef}}');">
										  <option value="0">0</option>
										  <option value="1">1</option>
										  <option value="2">2</option>
										  <option value="3">3</option>
										  <option value="4">4</option>
										  <option value="5">5</option>
								  </select>
							  {% endif %}
						  </td>	
					  </tr>
					  {% endfor %}
				  </tbody>
			  </table>	
		  </ul>
    {% else %}
      <h3 style="text-align:center">No hay tweets pendientes en este momento</h3>
    {% endif %}
	</body>
</html>
{% endblock %}
