<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Concurso Twitter Aire-USB</title>
	</head>

	<body>
    <center>
  		<h1>Bienvenido al Modulo de Microrelatos de AireUSB</h1>
	    <img src="/static/concurso/logo_aire_usb.jpg" alt="Aire USB" height="200" width="200">
    </center>
	</body>
</html>
{% endblock %}
