<!DOCTYPE html>
{% extends "base.html" %}

{% block content %}
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Concurso Twitter Aire-USB</title>

		<script type="text/javascript">
		function aprobarTweet(id){
			$.ajax({
			method: "POST",
			url: "{% url 'aprobarTweet' %}",
			data: { id : id }
			})
			.done(function( msg ) {
				alert( msg );
			});
		}

		</script>
	</head>
	<body>
		<ul>
      <table style="width:100%" class="table table-striped table-hover ">
        <thead>
          <th>Usuario</th>
          <th>Microcuento</th>
          <th>Aprobar</th>
        </thead>
        <tbody>
			    {% for tweet in tweets %}
            <tr>
				      <td>{{tweet.userRef}}</td>
              <td>{{tweet.text}}</td>
              <td><input class="btn btn-default" type="button" value="Aprobar Tweet" onclick="aprobarTweet('{{tweet.idRef}}')"></td>
            </tr>
			    {% endfor %}	
        </tbody>
      </table>			
		</ul>
	</body>
</html>
{% endblock %}
