{% load staticfiles %}
<html>
  <head>
    
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="{% static 'concurso/js/jquery-2.1.3.min.js' %}"></script>
    <script src="{% static 'concurso/js/function.js' %}"></script>
    <link href="{% static 'concurso/css/bootstrap.min.css' %}"
          rel="stylesheet" media="screen">
    <script src="{% static 'concurso/js/bootstrap.min.js' %}"></script>

    <style>
      html,
      body {
        height: 100%;
      }

      #wrap {
        min-height: 100%;
        height: auto;
        margin: 0 auto -60px;
        padding: 0 0 60px;
      }

      #footer {
        height: 60px;
        background-color: #F8F8F8;
        text-align: center;
      }

      td.borde {
        border-right: solid #E7E7E7 1px;
      }
    </style>
  </head>

  <body>
    <div id="wrap">
      <div class="container-fluid">
      <!-- Barra Navegacion -->
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url "index" %}">Módulo Microrelatos AireUSB</a>
          </div>

          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <ul class="nav navbar-nav">
              <li class="divider-vertical"></li>
              <li class="{% if request.resolver_match.url_name == "getTweetsAprobados" %}active{% endif %}">
                <a href="{% url "getTweetsAprobados" %}">Tweets Aprobados</a>
              </li>
              <li class="divider-vertical"></li>
              <li class="{% if request.resolver_match.url_name == "getTweetsPendientes" %}active{% endif %}">
                <a href="{% url "getTweetsPendientes" %}">Tweets Pendientes</a>
              </li>
              <li class="{% if request.resolver_match.url_name == "daemonStatus" %}active{% endif %}">
                <a href="{% url "daemonStatus" %}">Status Captación</a>
              </li>
              <li class="{% if request.resolver_match.url_name == "getTweetsPorRT" %}active{% endif %}">
                <a href="{% url "getTweetsPorRT" %}">Top Retweets</a>
              </li>
              <li class="{% if request.resolver_match.url_name == "getTweetTotals" %}active{% endif %}">
                <a href="{% url "getTweetTotals" %}">Estadisticas</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li style="border-right:solid #E7E7E7 1px"><a href="#">Logged in as: {{user.username}}</a></li>
              {% if user.is_anonymous %}
                <li><a href="{% url 'django.contrib.auth.views.login' %}">Login</a></li>
              {% else %}
                <li><a href="{% url 'django.contrib.auth.views.login' %}">Logout</a></li>
              {% endif %}
            </ul>

          </div>
        </div>
      </nav>
      <!-- Fin barra navegacion -->

      {% block content %}
      {% endblock %}

      </div>
    </div>

    <div id="footer">
      <div class="container">
        <p class="text-muted">Elaborado por estudiantes de Ingeniería de Computación de la Universidad Simón Bolívar</p>
        <p class="text-muted">© 2015</p>
      </div>
    </div>
  </body>
</html>
